.App {
  text-align: center;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
  justify-content: center;
}

.Logo-carrito {
  height: 2rem;
  margin-top: 1rem;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.contenedor-items {
  border-style: dotted;
  margin-top: 1rem;
  width: 100rem;
  height: 30rem;
  background-color: grey;
  color: white
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: red;
}
